
STAGE=dev

DB_PASSWORD=PAPU1234
DB_NAME=TesloDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api
JWT_SECRET = eSTe3SmiSe3dSECRET321 #en caso de que se filtre el token secreto se puede cambiar y manda error de unauthorized